/* body {
    background-image: url(../images/background.jpg);
} */

a {
    color: #ffffff;
}

a:no(.card-link) :hover {
    color: darkred;
  }

.nav {
    background-color: #2B2D2F; 
    padding: 25px;
}

.searchbox {
    text-align: center;
    justify-content: center;
}

#myDropdown {
    width: 30%;
    text-align: center;
    justify-content: center;
}

.dropwidth {
    width: 30%;
    background-color: #ffffff;
    color: #2B2D2F;
    border: 1px solid #2B2D2F;
    justify-content: center;
}

.description {
    text-align: center;
    justify-content: center;
    padding: 40px;
}
.heart {
    margin-left: 3%;
}

.movies {
    border: 1px solid #2B2D2F;
}

.recipes {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    /* margin-left: 1.5%; */
    width:100%;
}

.bgjumbo {
    padding: 100px;
    background-image: url(../images/cooking.png);
    border: 1px solid #2B2D2F;
}

/* Movie Content */
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 450px;
}

/* Recipe Content  */
/* Card Styling */
.flip{
    width: 300px;
    height: 340px;
    margin: 5%;
    justify-items: center;
}
.card-title {
    text-align: center;
    width:300px;
    height:10%;
    font-weight: bold;
}
.card-img {
    width: 300px;
    height: 90%;
}

.card-text{
    text-align: center;
}
li{
    font-size: .8rem;
}
.card-link:link, .decor {
    text-decoration: none;
}
/* Card Effect */
.card-flip {
    perspective: 1000px;
}

.card-flip:hover .flip,
.card-flip.hover .flip{
    transform: rotateY(180deg);
}

.card-flip,
.front,
.back {
    width: 100%;
    height: 480px;
}

.flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}