/* body {
    background-image: url(../images/background.jpg);
} */

a {
    color: #ffffff;
}

a:hover {
    color: darkred;
  }

.nav {
    background-color: #2B2D2F; 
    padding: 15px;
}

.searchbox {
    padding: 20px;
    width: 60%;
    text-align: center;
    justify-content: center;
}

.searchbox1 {
    padding: 30px;
}

.description {
    text-align: center;
    justify-content: center;
    padding: 1%;
}
.heart {
    margin-left: 3%;
}

.movies {
    border: 1px solid #2B2D2F;
}

.recipes {
    border: 1px solid #2B2D2F;
}