/* body {
    background-image: url(../images/background.jpg);
} */

a {
    color: #ffffff;
}

a:hover {
    color: darkred;
  }

.nav {
    background-color: #2B2D2F; 
    padding: 25px;
}

.searchbox {
    text-align: center;
    justify-content: center;
}

.dropwidth {
    width: 65%;
    background-color: #ffffff;
    color: #2B2D2F;
    border: 1px solid #2B2D2F;
}

.description {
    text-align: center;
    justify-content: center;
    padding: 40px;
}
.heart {
    margin-left: 3%;
}

.movies {
    border: 1px solid #2B2D2F;
}

.recipes {
    border: 1px solid #2B2D2F;
}

.bgjumbo {
    padding: 100px;
    background-image: url(../images/cooking.png);
    border: 1px solid #2B2D2F;
}